.field {
    border: 1px solid grey; /*Параметры рамки: Ширина СтильРамки Цвет*/
}
.t1 {
    width: 70%; /*Ширина таблицы*/
    border: 1px double grey; /*Параметры общей рамки таблицы: Ширина СтильРамки Цвет*/
    border-collapse: separate; /*Вокруг каждой ячейки отображается своя собственная рамка, в местах соприкосновения ячеек показываются сразу две линии.*/
    margin: 0 auto; /*Расположение таблицы по горизонтали по центру*/
}
.t2 {
    width: 50%; /*Ширина таблицы*/
    border: 1px double grey; /*Параметры общей рамки таблицы: Ширина СтильРамки Цвет*/
    border-collapse: separate; /*Вокруг каждой ячейки отображается своя собственная рамка, в местах соприкосновения ячеек показываются сразу две линии.*/
    margin: 0 auto; /*Расположение таблицы по горизонтали по центру*/
}
.t3{
    width: 50%; /*Ширина таблицы*/
    border: 3px ridge grey; /*Параметры общей рамки таблицы: Ширина СтильРамки Цвет*/
    border-collapse: collapse; /*Линия между ячейками отображается только одна*/
    margin: 0 auto; /*Расположение таблицы по горизонтали по центру*/
}
.t1k {
    padding: 3px; /*Размер полей*/
    border: 1px solid black; /*Параметры рамок вокруг ячеек: Ширина СтильРамки Цвет*/
}
.tx {
    text-align: left; /*Выравнивание текста по левому краю*/
    padding: 4px; /*Размер полей*/
    border: 1px solid black; /*Параметры рамок вокруг ячеек: Ширина СтильРамки Цвет*/
}
.tx1 {
    text-align: left; /*Выравнивание текста по левому краю*/
    padding: 4px; /*Размер полей*/
    border: 1px solid black; /*Параметры рамок вокруг ячеек: Ширина СтильРамки Цвет*/
}
.ty{
    width: 5%; /*Ширина ячейки*/
    padding: 4px; /*Размер полей*/
    border: 1px solid black; /*Параметры рамок вокруг ячеек: Ширина СтильРамки Цвет*/
}
.ty1 {
    width: 10%; /*Ширина ячейки*/
    padding: 4px; /*Размер полей*/
    border: 1px solid black; /*Параметры рамок вокруг ячеек: Ширина СтильРамки Цвет*/
}
.ty2 {
    width: 15%; /*Ширина ячейки*/
    padding: 4px; /*Размер полей*/
    border: 1px solid black; /*Параметры рамок вокруг ячеек: Ширина СтильРамки Цвет*/
}
.ty3 {
    width: 20%; /*Ширина ячейки*/
    padding: 4px; /*Размер полей*/
    border: 1px solid black; /*Параметры рамок вокруг ячеек: Ширина СтильРамки Цвет*/
}
.tz1 {
    width: 60%; /*Ширина ячейки*/
    text-align: left; /*Выравнивание текста по левому краю*/
    padding: 5px; /*Размер полей*/
    border: 2px ridge grey; /*Параметры рамок вокруг ячеек: Ширина СтильРамки Цвет*/
}
.tz2 {
    width: 30%; /*Ширина ячейки*/
    text-align: left; /*Выравнивание текста по левому краю*/
    padding: 5px; /*Размер полей*/
    border: 2px ridge grey; /*Параметры рамок вокруг ячеек: Ширина СтильРамки Цвет*/
}
.tz3{
    width: 10%; /*Ширина ячейки*/
    text-align: left; /*Выравнивание текста по левому краю*/
    padding: 5px; /*Размер полей*/
    border: 2px ridge grey; /*Параметры рамок вокруг ячеек: Ширина СтильРамки Цвет*/
}
.tf1 {
    vertical-align: text-top; /*Выравнивание элемента по вертикали. Верхняя граница элемента выравнивается по самому высокому текстовому элементу текущей строки*/
    padding: 5px; /*Размер полей*/
    border: 2px ridge grey; /*Параметры рамок вокруг ячеек: Ширина СтильРамки Цвет*/
}